body {
    height: 125vh;
    background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.com%2Ffree-photos-vectors%2Ftechnology-background&psig=AOvVaw26YKeDrpSmAnR7Te-1QqUI&ust=1585145250772000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCIDcw9PasugCFQAAAAAdAAAAABAD');
    background-size: cover;
    font-family: sans-serif;
    margin-top: 80px;
    padding: 30px;
}

@import url('https://fonts.googleapis.com/css?family=Ribeye+Marrow');

main {
  font-size: 50px;
  color: white;
  font-weight: bold;
  line-height: 200px;
  letter-spacing: 5px;
  font-family: "Ribeye Marrow"; /* Change this line */
}

header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
}

header * {
    display: inline;
}

header li {
    margin: 20px;
}

header li a {
    color: black;
    text-decoration: none;
}
