@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

body {
    height: 125vh;
    background-image: url('img/bg.jpg');
    background-size: ;
    font-family: 'PT Sans', sans-serif;
    margin-top: 80px;
    padding: 30px;
}

main {
  font-size: 50px;
  color: black;
  font-weight: bold;
  letter-spacing: 5px;
}

header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
    font-family: 'PT Sans', sans-serif;
}

header * {
    display: inline;
}

header li {
    float: right;
    margin: 20px;
}

header li a {
    color: black;
    text-decoration: none;
}

.name {
    float: left;
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    font-weight: 400;
}
